

<div class="col-md-4">

  <div class="col-md-6">
    <br>
    <br>
    <h4>ARMA TU PIZZA</h4>
    <br>

    <div class="funkyradio">
      <div class="funkyradio-default">
        <input type="checkbox" name="checkbox" id="checkbox1" checked/>
        <label for="checkbox1">Queso 1,25</label>
      </div>
      <div class="funkyradio-primary">
        <input type="checkbox" name="checkbox" id="checkbox2" checked/>
        <label for="checkbox2">Peperoni 1,25</label>
      </div>
      <div class="funkyradio-success">
        <input type="checkbox" name="checkbox" id="checkbox3" checked/>
        <label for="checkbox3">Jamon 1,25</label>
      </div>
      <div class="funkyradio-danger">
        <input type="checkbox" name="checkbox" id="checkbox4" checked/>
        <label for="checkbox4">Pollo 1,25</label>
      </div>
      <div class="funkyradio-warning">
        <input type="checkbox" name="checkbox" id="checkbox5" checked/>
        <label for="checkbox5">Carne 1,25</label>
      </div>
      <div class="funkyradio-info">
        <input type="checkbox" name="checkbox" id="checkbox6" checked/>
        <label for="checkbox6">PIÑA 1,25</label>
      </div>
    </div>
  </div>
</div>


